venv/
.venv/
env/

.env
.env.local
.env.example

__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/
*.egg

instance/
.webassets-cache


.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

node_modules
test_conn.py
migration.md